body, html {
    
    margin: 0px;
    
}

h1, h2, h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logo {

    width: 64px;
    height: 64px;
    margin: 0 auto;
    padding-top: 10px;
}