body, html {
    
    margin: 0px;
    
}

h1, h2, h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logo {
    
    display:block;
    width: 64px;
    height: 64px;
}

.logo img {

    width: 100%;
    height: auto;
}